@model IEnumerable<Biz4CMS.Models.Banner>
<div id="camera" class="camera_wrap">
@foreach (var item in Model)
{
    <div data-src="@Url.Content(item.FullPath)">
        <div class="camera_caption fadeIn">@item.Heading1</div>
    </div>
}
</div>


