<section class="slider">
    <div id="page-header">
        <div class="panel-pane pane-views-panes pane-home-page-slider-panel-pane-1">
            <div class="pane-content">
                <div class="view view-home-page-slider view-id-home_page_slider view-display-id-panel_pane_1 view-dom-id-30c0875b3cb06fcd29a53e51250fdb4b">
                    <div class="view-content">
                        <div id="homepage-slider" class="big-slider">
                            <div class="slides">
                                <div class="slide">
                                    <div class="top-banner">
                                        <p>
                                            <strong>Delivery notice:</strong>
                                            <span class="top-banner-text">we're busy working to improve our delivery service and we'll be back online in a few weeks</span>
                                        </p>
                                    </div>
                                    <div class="top-border-slide"></div>
                                    <div style="background-image: url(@Url.Content("~/Content/Assets/images/slideshow_1.jpg"));" id="node-1643" class="node node-home-page-slide node-promoted clearfix">
                                        <div class="row">
                                            <div class="large-12 columns">
                                                <h2>Christmas 2016</h2>
                                                <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                                                    <div class="field-items">
                                                        <div class="field-item even">
                                                            <style type="text/css">
                                                                #homepage-slider .slides .slide:first-child h2 {
                                                                    display: none;
                                                                }
                                                            </style>
                                                            <p>&nbsp;</p>
                                                            <p>&nbsp;</p>
                                                            <p>
                                                                &nbsp;
                                                                <br>
                                                            </p>
                                                            <p class="cta-button">
                                                                <a href="who-we-are.html">
                                                                    <img src="@Url.Content("~/Content/Assets/images/open_the_boxes.png")" />
                                                                </a>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="slide">
                                    <div class="top-banner">
                                        <p>
                                            <strong>Delivery notice:</strong>
                                            <span class="top-banner-text">we're busy working to improve our delivery service and we'll be back online in a few weeks</span>
                                        </p>
                                    </div>
                                    <div class="top-border-slide"></div>
                                    <div style="background-image: url(@Url.Content("~/Content/Assets/images/slideshow_2.jpg"));" id="node-1513" class="node node-home-page-slide node-promoted clearfix">
                                    </div>
                                </div>
                                <div class="slide">
                                    <div class="top-banner">
                                        <p>
                                            <strong>Delivery notice:</strong>
                                            <span class="top-banner-text">we're busy working to improve our delivery service and we'll be back online in a few weeks</span>
                                        </p>
                                    </div>
                                    <div class="top-border-slide"></div>
                                    <div style="background-image: url(@Url.Content("~/Content/Assets/images/slideshow_3.jpg")); background-color: #ffffff; " id="node-589" class="node node-home-page-slide node-promoted clearfix">
                                        <div class="row">

                                        </div>
                                    </div>
                                </div>

                            </div>
                            <ul class="slider-nav row">
                                <li class="next">Next</li>
                                <li class="prev">Previous</li>
                            </ul>
                            <div class="row">
                                <div class="large-12 columns">
                                    <ul class="slider-nav-bubbles">
                                        <li class="nav-bubble"></li>
                                        <li class="nav-bubble"></li>
                                        <li class="nav-bubble"></li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
