@model IList<Biz4CMS.ViewModels.LinkDto>

<div class="col-sm-3">
	<h5 class="widget-title">Hỗ trợ</h5>
	<ol class="marked-list">		
		<li> Phương thức mua hàng & thanh toán </li>
		<li> Chính sách vận chuyển & giao hàng </li>
		<li> Chính sách Đổi trả </li>
	</ol>
</div>

<div class="col-sm-3">
	<h5 class="widget-title">TIN TỨC</h5>
	<ol class="marked-list">
		<li> Khuyến mãi tối thứ 7 </li>
		<li> Trò chuyện cùng Nori </li>
		<li> Thẻ thành viên</li>
	</ol>
</div>
