@model IEnumerable<Biz4CMS.ViewModels.LinkDto>
<!-- <ul class="list">
    @foreach (var lnk in Model)
    {
        <li>
            <a href="@lnk.Link">@lnk.Title</a>
        </li>
    }
</ul> -->
@{
	foreach (var lnk in Model) {
<!-- 		<div class="col-sm-3">
			<ul class="list">
			    <a href="@lnk.Link">@lnk.Title</a>

			</ul>
		</div> -->
	}
}
