
@{ViewBag.Title = "Nori Express";
<<<<<<< Updated upstream
  Layout = "~/Views/Shared/_LayoutNori.cshtml";
   }

@{Html.RenderAction("Slider", "Home");}
<section class="main">
=======
    Layout = "~/Views/Shared/_LayoutNori.cshtml";
}
@section slider {
        <div class="camera_container">
                @{Html.RenderAction("Slider", "Home");}
        </div>
}



<section class="main homepage">
>>>>>>> Stashed changes
    <div id="main-wrapper">
        <div id="main" class="row">
            <div id="content" class="column large-12">
                @{Html.RenderAction("TopQuickLink", "Home");}
            </div>
        </div>
    </div>
</section>

