
@{ViewBag.Title = "Nori Express";


    Layout = "~/Views/Shared/_LayoutNori.cshtml";
}
@section slider {
        <div class="camera_container">
                @{Html.RenderAction("Slider", "Home");}
        </div>
}



<section class="main homepage">


    <div id="main-wrapper">
        <div id="article" class="row">
            <div id="content" class="column large-12">
                @{Html.RenderAction("TopArticle", "Home");}
            </div>
        </div>
        <div id="product" class="row">
            <div id="content" class="column large-12">
                @{Html.RenderAction("TopProduct", "Home");}
            </div>
        </div>
    </div>
</section>


