
@{ViewBag.Title = "Nori Express";
  Layout = "~/Views/Shared/_LayoutNori.cshtml";
   }

@{Html.RenderAction("Slider", "Home");}
<section class="main">
    <div id="main-wrapper">
        <div id="main" class="row">
            <div id="content" class="column large-12">
                @{Html.RenderAction("TopQuickLink", "Home");}
            </div>
        </div>
    </div>
</section>

