<div class="col-md-4" data-sticky_column="">
    <div class="primary-sidebar">
        <aside class="widget about-me-widget">
            <div class="about-me-img">

                <div class="about-me-content text-center">
                    <img src="@Url.Content("~/Content/Assets/images/me.png")" alt="" class="img-me">

                    <h3 class="text-uppercase">Nori Express</h3>

                    <p>Khát khao đáp ứng cho các khách hàng những bữa trưa nhanh, tiện lợi, giá cả hợp lý và đủ chất.</p>
                </div>
            </div>

        </aside>
    </div>
</div><div id="" class="col-md-4 jquery-stickit-spacer" style="visibility: hidden; height: 3543px; display: none;"></div>
