
@model IEnumerable<Biz4CMS.ViewModels.LinkDto>
<ul class="menu">
    @foreach (var lnk in Model)
    {
        <li class="leaf branches">
            <a href="@lnk.Link">@lnk.Title</a>
            @if (lnk.SubMenus != null)
            {
                <ul class="menu">

                    @foreach (var subMenu in lnk.SubMenus)
                    {
                        <li class="first last leaf the-wasabi-way the-wasabi-way">
                            <a href="@subMenu.Link"> @subMenu.Title</a>
                        </li>
                    }
                </ul>

            }

        </li>
    }
    @*@if (HttpContext.Current.Session["role"] != null)
    {
        <li class="leaf branches">
            <a href="/account/myprofile">Account</a>
            <ul class="menu">
                <li class="first last leaf the-wasabi-way the-wasabi-way">
                    <a href="/account/myorder"> My Order</a>
                </li>
                <li class="first last leaf the-wasabi-way the-wasabi-way">
                    <a href="/account/myprofile"> My Profile</a>
                </li>
                <li class="first last leaf the-wasabi-way the-wasabi-way">
                    <a href="/account/ChangePassword"> Change Password</a>
                </li>
                <li class="first last leaf the-wasabi-way the-wasabi-way">
                    <a href="/account/logoff"> Sign Out</a>
                </li>
            </ul>
        </li>
    }
    else
    {
        <li class="leaf branches">
            <a href="/account/logon"> Sign In</a>
        </li>
    }*@
    @*@if (HttpContext.Current.Session["userinfo"] !=null)
    {
        <li class="leaf branches">
            <a href="/shoppingCart"> Cart (0)</a>
        </li>
    }*@
</ul>
