@model IList<Biz4CMS.ViewModels.BriefProductDto>
<script type="text/javascript" language="javascript">
    $(function () {
        $(".quantity").change(function () {
            var url = $(this).closest("div").next().children("a").attr("href");
            url = url.substr(0, url.indexOf("=") + 1) + $(this).val();
            $(this).closest("div").next().children("a").attr("href", url);
        });
    });
</script>
@{
    
    var left = new List<Biz4CMS.ViewModels.BriefProductDto>();
    var right = new List<Biz4CMS.ViewModels.BriefProductDto>();
    for (var i= 1; i < Model.Count;i++)
    {
        var item =  Model[i];
        if (i % 2 == 0){
            left.Add(item);
        }else{
            right.Add(item);
        }
        
    }
}
<section class="well-md container border-bottom">
    <h1>Thực đơn</h1>
    <div class="row offset-1 flow-offset-1">
        <div class="col-sm-6 col-lg-5">
            @foreach(var item in left){
                @Html.Partial("_productItem2", item);
            }
        </div>
        <div class="col-sm-6 col-lg-offset-1">
            @foreach (var item in right){
                @Html.Partial("_productItem2", item);                            
            }        
        </div>
    </div>
    <div class="row offset-3">
        <div class="col-sm-9">
            @Html.Partial("_productItem", Model[0])
        </div>
    </div>
    <a href="/product" class="btn btn-primary btn-md">Xem tất cả</a>
</section>








