@model IEnumerable<Biz4CMS.ViewModels.BriefProductDto>
<script type="text/javascript" language="javascript">
    $(function () {
        $(".quantity").change(function () {
            var url = $(this).closest("div").next().children("a").attr("href");
            url = url.substr(0, url.indexOf("=") + 1) + $(this).val();
            $(this).closest("div").next().children("a").attr("href", url);
        });
    });
</script>
<h3> Sản phẩm yêu thích:</h3>
<div class="row">
    @foreach (var item in Model)
    {
        
            @Html.Partial("_productItem3", item);
             
    }
</div>
