 
.editor-label 
{
    clear:left; 
    float:left;
    width:120px;
    display: inline-block;
    }

.editor-field 
{
    float:left;
    margin-left :10px;    
    display: inline-block;
    }
input[type="number"] {width:150px;
    text-align:right;}    


     