.full-bg {
	padding: 20px 20px 20px 20px;
}
.navbar-top-links form#logoutForm a {
	color: #888888;
}
#page-wrapper {
	background: #FFF;
}
.form-group .input-inline {
	margin-right: -15px;
    margin-left: -15px;
    display: inline-block;
    width: 100%;
    height: 100%;
}
.upload-image-icon {
	font-size: 39px;
	color: #737373;
}
.upload-image-icon:hover {
	color: #737373;
}
a .btn-white {
	color: #737373;
}
a .btn-white:hover {
	color: #737373;
	background-color: #f3f3f4;
}
.nav-header .profile-element img.logo{
	width: 100px;
}
.btn-info:hover {
	color: #ff6d00;
	background-color: #ffffff;
	border-color: #ff6d00;
}
.icheckbox_square-green {
	margin-right: 10px;
}
.lbcheck-inline {
	margin-right: 20px;
}