@using Biz4CMS.Models;
@{
    ViewBag.Title = "Shipping location";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="form-group">
    <a href="/bo/ShippingLocation/create">
        <button type="button" class="btn btn-primary"><i class="fa fa-plus"></i> Add new item</button>
    </a>
</div>
@(Html.Kendo().Grid<ShippingLocation>()
    .Name("ShippingLocationGrid")
    .Sortable()
    //.Filterable()
    .Pageable()
    .DataSource(dataSource => dataSource
        .Ajax()
        .Model(model => model.Id(p => p.ShippingLocationId))
        .Read(read => read.Action("Get", "ShippingLocation"))
        .Destroy(destroy => destroy.Action("Delete", "ShippingLocation"))
    )
    .Columns(columns =>
    {
        columns.Bound(p => p.ShippingLocationId).Width(70);
        columns.Bound(p => p.Title).Width(240);
        columns.Bound(p => p.Active).Width(150);
        columns.Bound(u => u.ShippingLocationId).Title("").ClientTemplate("<a class='k-button' href='" + Url.Action("edit", "ShippingLocation") + "/#=ShippingLocationId#'><span class='k-icon k-i-edit'></span> Edit</a>");
        columns.Command(cmd =>
        {
            cmd.Destroy();
        });
    })
)


