@using Biz4CMS.Models;
@{
    ViewBag.Title = "Index";
    
}
<a href="/bo/FAQ/create" class="k-button k-button-icontext k-grid-add"><span class="k-icon k-add"></span>Add new item</a>
            
@(Html.Kendo().Grid<FAQ>()
    .Name("aricleGrid")
    .Sortable()
    //.Filterable()
    .Pageable()
    .DataSource(dataSource => dataSource
        .Ajax()
        .Model(model => model.Id(p => p.FAQId))
        .Read(read => read.Action("Get", "FAQ"))
        .Destroy(destroy => destroy.Action("Delete", "FAQ"))
    )
    .Columns(columns =>
    {
        columns.Bound(p => p.FAQId).Title("Id").Width(60);
        columns.Bound(p => p.Question).Width(160);
        columns.Bound(p => p.Description).Width(430);
        columns.Bound(p => p.Author).Title("Author").Width(50);
        
        columns.Bound(p => p.Tag).Title("Tag").Width(50);
        //columns.Bound(p => p.Category.Name).Title("Category");
        columns.Bound(u => u.FAQId).Title("").ClientTemplate("<a class='k-button' href='" + Url.Action("edit", "FAQ") + "/#=FAQId#'><span class='k-icon k-edit'></span>Edit</a>");  
        columns.Command(cmd =>
        {
            
            cmd.Destroy();
        });


    })
       
       
) 
