@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutNori.cshtml";
}
<section class="main-content">
<div class="container">
    <div class="row" style="position: relative; padding-top:10px; padding-bottom:10px;">
        <div class="col-md-8">
          
            <div class="btn-group btn-toggle">
                <button class="btn btn-lg btn-default">Giao hàng</button>
                <button class="btn btn-lg btn-primary " >Mua mang đi</button>
            </div>
            
            <form method="post" action="/Order">
                <div class="form-group">
                   
                </div>
                <div class="form-group">
                    <label for="name">Họ và tên</label>
                    <input type="text" class="form-control" name="name" required>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" name="email" required>
                </div>
                <div class="form-group">
                    <label for="phone">Số điện thoại:</label>
                    <input type="text" class="form-control" name="phone" required>
                </div>
                <div class="form-group" id="collapsible_address">
                    <label for="address">Địa chỉ:</label>
                    <input type="text" class="form-control" name="address" >
                </div>

                <div class="form-group" id="collapsible_address">
                    <label for="phuong">Phường:</label>
                    <input type="text" class="form-control" name="ward">
                </div>
                <div class="form-group" id="collapsible_address">
                    <label for="phuong">Quận:</label>
                    <input type="text" class="form-control" name="dist">
                </div>
                <div class="form-group" id="collapsible_address">
                    <label for="phuong">Thành phố:</label>
                    <input type="text" class="form-control" name="city">
                </div>
                <div class="form-group" id="collapsible">
                    <label for="branch">Cửa hàng Nori:</label>
                    <select class="form-control" name="branchname">
                        @foreach (var item in ViewBag.data)
                        {
                            <option value="@item.Address">@item.Address</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="bookingtime">Thời gian nhận hàng dự kiến:</label>
                    <select class="form-control" name="bookingtime">
                        <option>Now</option>
                        @{ 
                            var from = DateTime.Now.Hour + 1;
                            var to = 21;
                            var tstep = 30;

                        }
                        @for (var i = from; i <= to; i++)
                        {
                            <option>@i:00</option>
                            <option>@i:@tstep</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="note">Note:</label>
                    <textarea class="form-control" rows="2" name="note"></textarea>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox"> Tôi chấp nhận <a href="#"></a>TERMS AND CONDITIONS</a></label>
                </div>
                <button type="submit" class="btn btn-primary btn-lg">Đăng ký</button>
             
            </form>
        </div>
        @{Html.RenderAction("RightBox", "Home");}
    </div>
</div>
</section>
<script>
    function checkInput() {
    }
    $('#collapsible_address').hide();
    $('.btn-toggle').click(function () {
        if ($(this).find('.btn-primary').hasClass('active')) {
            $('#collapsible_address').hide();
            $('#collapsible').show();
        }
        else {
           
            $('#collapsible_address').show();
            $('#collapsible').hide();
        }
        $(this).find('.btn').toggleClass('active');

        if ($(this).find('.btn-primary').size() > 0) {
           
            $(this).find('.btn').toggleClass('btn-primary');
        }

        $(this).find('.btn').toggleClass('btn-default');
       

    });
</script>
