@{
    ViewBag.Title = "InternalServer";
    Layout = "~/Views/Shared/_LayoutNori.cshtml";
}

<div class="col-sm-6">
    <div class="message-box">
        <h1 class="m-b-0">500</h1>
        <p>Internal Server Error.</p>
    </div>
</div>
