@using Biz4CMS.Models;
@{
    ViewBag.Title = "Index";
    
}
@model IEnumerable<Biz4CMS.Models.Order>
@(Html.Kendo().Grid<Biz4CMS.Models.Order>()
    .Name("grid")
    .Columns(columns =>
    {
        columns.Bound(p => p.OrderId).Title("ID").Width(50);
        columns.Bound(p => p.FullName).Width(240);
        columns.Bound(p => p.Phone).Width(150);
        columns.Bound(p => p.Address).Width(240);
        columns.Bound(p => p.City).Width(150);
        
        columns.Bound(p => p.Note).Width(250);
        columns.Bound(p => p.Total).Format("{0:0,0}").Width(150);

        columns.Bound(u => u.OrderId).Title("Details").ClientTemplate("<a class='k-button' href='" + Url.Action("index", "OrderDetail") + "/?OrderId=#=OrderId#'>Details</a>");
        columns.Command(command => { command.Destroy(); }).Width(90);
    })
    .ToolBar(toolbar =>
        {
            toolbar.Create();
            toolbar.Save();
        })
    .Editable(editable => editable.Mode(GridEditMode.InCell))
    .Pageable()
    .DataSource(dataSource => dataSource
        .Ajax()
        .Batch(true)
        .PageSize(20)
        .Events(events => events.Error("error_handler"))
        .Model(model => { model.Id(p => p.OrderId); model.Field(p => p.OrderId).Editable(false); })
        .Create(create => create.Action("Create", "Order"))
        .Read(read => read.Action("Get", "Order"))
        .Update(update => update.Action("Edit", "Order"))
        .Destroy(destroy => destroy.Action("Delete", "Order"))
    )       
)
<script type="text/javascript">
    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }
</script>
