USE [master]
GO
/****** Object:  Database [noriexpress]    Script Date: 1/18/2017 11:38:30 PM ******/
CREATE DATABASE [noriexpress]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'noriexpress', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\noriexpress.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'noriexpress_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\noriexpress_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [noriexpress].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [noriexpress]
GO
/****** Object:  StoredProcedure [dbo].[getTopProduct]    Script Date: 1/18/2017 11:38:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[getTopProduct] 
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT p.ProductId, p.MainImage, c.CategoryId, c.Name as CategoryName,   p.Price, p.Code, p.PageURL, c.PageURL as CategoryPageURL 
	from Products p
	inner join Categories c on p.CategoryId = c.CategoryId
	order by c.CategoryId, p.ProductId


END


GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 1/18/2017 11:38:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Articles]    Script Date: 1/18/2017 11:38:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Articles](
	[ArticleId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NULL,
	[Description] [nvarchar](1000) NULL,
	[Content] [nvarchar](max) NULL,
	[Keyword] [nvarchar](200) NULL,
	[Active] [bit] NOT NULL,
	[Order] [smallint] NOT NULL,
	[MainImage] [nvarchar](200) NULL,
	[Banner] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[PublicDate] [datetime] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CategoryId] [int] NOT NULL,
	[PageURL] [nvarchar](max) NULL,
	[BannerImage] [nvarchar](200) NULL,
 CONSTRAINT [PK_dbo.Articles] PRIMARY KEY CLUSTERED 
(
	[ArticleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Banners]    Script Date: 1/18/2017 11:38:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Banners](
	[BannerId] [int] IDENTITY(1,1) NOT NULL,
	[Link] [nvarchar](200) NULL,
	[Filename] [nvarchar](200) NULL,
	[Heading1] [nvarchar](200) NULL,
	[Heading2] [nvarchar](200) NULL,
	[Description] [nvarchar](1000) NULL,
	[Tag] [nvarchar](200) NULL,
	[Align] [nvarchar](200) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Banners] PRIMARY KEY CLUSTERED 
(
	[BannerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CakeFiller]    Script Date: 1/18/2017 11:38:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CakeFiller](
	[CakeFillerId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NULL,
	[Price] [int] NOT NULL,
	[FillerImage] [nvarchar](200) NULL,
 CONSTRAINT [PK_CakeFiller] PRIMARY KEY CLUSTERED 
(
	[CakeFillerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CakeFillers]    Script Date: 1/18/2017 11:38:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CakeFillers](
	[CakeFillerId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NULL,
	[Price] [int] NOT NULL,
	[FillerImage] [nvarchar](200) NULL,
 CONSTRAINT [PK_dbo.CakeFillers] PRIMARY KEY CLUSTERED 
(
	[CakeFillerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Carts]    Script Date: 1/18/2017 11:38:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carts](
	[RecordId] [int] IDENTITY(1,1) NOT NULL,
	[CartId] [nvarchar](max) NULL,
	[ProductId] [int] NOT NULL,
	[Count] [int] NOT NULL,
	[DateCreated] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Carts] PRIMARY KEY CLUSTERED 
(
	[RecordId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Categories]    Script Date: 1/18/2017 11:38:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NULL,
	[Description] [nvarchar](1000) NULL,
	[Tag] [nvarchar](200) NULL,
	[IsDeleted] [bit] NOT NULL,
	[PageURL] [nvarchar](max) NULL,
	[SortNumber] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Categories] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Comments]    Script Date: 1/18/2017 11:38:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[CommentId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](200) NULL,
	[JobTitle] [nvarchar](200) NULL,
	[Description] [nvarchar](1000) NULL,
	[Tag] [nvarchar](200) NULL,
	[Order] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Comments] PRIMARY KEY CLUSTERED 
(
	[CommentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FAQs]    Script Date: 1/18/2017 11:38:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FAQs](
	[FAQId] [int] IDENTITY(1,1) NOT NULL,
	[Question] [nvarchar](500) NULL,
	[Author] [nvarchar](200) NULL,
	[Description] [nvarchar](4000) NULL,
	[Tag] [nvarchar](200) NULL,
	[Order] [int] NOT NULL,
 CONSTRAINT [PK_dbo.FAQs] PRIMARY KEY CLUSTERED 
(
	[FAQId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Menus]    Script Date: 1/18/2017 11:38:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menus](
	[MenuId] [int] IDENTITY(1,1) NOT NULL,
	[ParentId] [int] NOT NULL,
	[Text] [nvarchar](200) NULL,
	[Link] [nvarchar](200) NULL,
	[Tag] [nvarchar](200) NULL,
	[Order] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Menus] PRIMARY KEY CLUSTERED 
(
	[MenuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Messages]    Script Date: 1/18/2017 11:38:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messages](
	[MessageId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](200) NOT NULL,
	[Email] [nvarchar](200) NOT NULL,
	[Content] [nvarchar](2000) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Messages] PRIMARY KEY CLUSTERED 
(
	[MessageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 1/18/2017 11:38:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[OrderDetailId] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dbo.OrderDetails] PRIMARY KEY CLUSTERED 
(
	[OrderDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Orders]    Script Date: 1/18/2017 11:38:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](max) NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[FullName] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[City] [nvarchar](max) NULL,
	[State] [nvarchar](max) NULL,
	[PostalCode] [nvarchar](max) NULL,
	[Country] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Total] [decimal](18, 2) NOT NULL,
	[Note] [nvarchar](max) NULL,
	[PaymentType] [decimal](18, 2) NOT NULL,
	[OrderDate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Orders] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Pictures]    Script Date: 1/18/2017 11:38:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pictures](
	[PictureId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NULL,
	[Src] [nvarchar](200) NULL,
	[Tags] [nvarchar](200) NULL,
	[IsCover] [bit] NOT NULL,
	[MoreInfo] [nvarchar](1000) NULL,
	[IsDeleted] [bit] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Size] [float] NOT NULL,
 CONSTRAINT [PK_dbo.Pictures] PRIMARY KEY CLUSTERED 
(
	[PictureId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Products]    Script Date: 1/18/2017 11:38:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NULL,
	[Code] [nvarchar](200) NULL,
	[CountryId] [int] NOT NULL,
	[BrandId] [int] NOT NULL,
	[MaterialId] [int] NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[Content] [nvarchar](max) NULL,
	[Tags] [nvarchar](200) NULL,
	[Active] [bit] NOT NULL,
	[IsSpecial] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[NumofViews] [int] NOT NULL,
	[BasePrice] [int] NOT NULL,
	[Discount] [int] NOT NULL,
	[Price] [int] NOT NULL,
	[MainImage] [nvarchar](200) NULL,
	[Folder] [nvarchar](50) NULL,
	[ImagesJson] [nvarchar](max) NULL,
	[CategoryId] [int] NOT NULL,
	[PageURL] [nvarchar](max) NULL,
	[Brand_CategoryId] [int] NULL,
	[Category_CategoryId] [int] NULL,
	[Country_CategoryId] [int] NULL,
	[Material_CategoryId] [int] NULL,
	[Avatar] [nvarchar](200) NULL,
	[MaxFiller] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Products] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QuickLinks]    Script Date: 1/18/2017 11:38:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuickLinks](
	[QuickLinkId] [int] IDENTITY(1,1) NOT NULL,
	[Link] [nvarchar](200) NULL,
	[Filename] [nvarchar](200) NULL,
	[Title] [nvarchar](200) NULL,
	[Order] [int] NOT NULL,
	[Tag] [nvarchar](200) NULL,
	[Description] [nvarchar](1000) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.QuickLinks] PRIMARY KEY CLUSTERED 
(
	[QuickLinkId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserProfiles]    Script Date: 1/18/2017 11:38:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserProfiles](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[ConfirmPassword] [nvarchar](max) NULL,
	[IsAdmin] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.UserProfiles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Videos]    Script Date: 1/18/2017 11:38:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Videos](
	[VideoId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NULL,
	[Link] [nvarchar](200) NULL,
	[Filename] [nvarchar](200) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Videos] PRIMARY KEY CLUSTERED 
(
	[VideoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  View [dbo].[ProductView]    Script Date: 1/18/2017 11:38:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ProductView]
AS
SELECT        dbo.Products.ProductId, dbo.Products.Name, dbo.Products.Code, dbo.Products.CountryId, dbo.Products.BrandId, dbo.Products.MaterialId, dbo.Products.Description, 
                         dbo.Products.[Content], dbo.Products.Tags, dbo.Products.Active, dbo.Products.IsSpecial, dbo.Products.CreatedDate, dbo.Products.NumofViews, 
                         dbo.Products.BasePrice, dbo.Products.Discount, dbo.Products.Price, dbo.Products.MainImage, dbo.Products.Folder, dbo.Products.ImagesJson, 
                         dbo.Products.CategoryId, dbo.Products.PageURL, dbo.Products.Brand_CategoryId, dbo.Products.Category_CategoryId, dbo.Products.Country_CategoryId, 
                         dbo.Products.Material_CategoryId, dbo.Products.Avatar, dbo.Categories.Name AS CategoryName
FROM            dbo.Categories INNER JOIN
                         dbo.Products ON dbo.Categories.CategoryId = dbo.Products.CategoryId

GO
SET IDENTITY_INSERT [dbo].[Articles] ON 

SET IDENTITY_INSERT [dbo].[Articles] OFF
SET IDENTITY_INSERT [dbo].[Banners] ON 

INSERT [dbo].[Banners] ([BannerId], [Link], [Filename], [Heading1], [Heading2], [Description], [Tag], [Align], [IsDeleted]) VALUES (1, N'/product', N'slideshow_1.jpg', N'Delivery notice', NULL, N'we''re busy working to improve our delivery service and we''ll be back online in a few weeks', N'Top', NULL, 0)
INSERT [dbo].[Banners] ([BannerId], [Link], [Filename], [Heading1], [Heading2], [Description], [Tag], [Align], [IsDeleted]) VALUES (2, N'/a/cau-chuyen-nori', N'slideshow_2.jpg', N'Delivery notice', NULL, N'we''re busy working to improve our delivery service and we''ll be back online in a few weeks', N'Top', NULL, 0)
INSERT [dbo].[Banners] ([BannerId], [Link], [Filename], [Heading1], [Heading2], [Description], [Tag], [Align], [IsDeleted]) VALUES (3, N'/c/blogs', N'slideshow_3.jpg', N'Delivery notice', NULL, N'we''re busy working to improve our delivery service and we''ll be back online in a few weeks', N'Top', NULL, 0)
SET IDENTITY_INSERT [dbo].[Banners] OFF
SET IDENTITY_INSERT [dbo].[CakeFillers] ON 

INSERT [dbo].[CakeFillers] ([CakeFillerId], [Name], [Price], [FillerImage]) VALUES (1, N'test', 10000, NULL)
INSERT [dbo].[CakeFillers] ([CakeFillerId], [Name], [Price], [FillerImage]) VALUES (3, N'test', 0, NULL)
INSERT [dbo].[CakeFillers] ([CakeFillerId], [Name], [Price], [FillerImage]) VALUES (4, N'test', 0, NULL)
SET IDENTITY_INSERT [dbo].[CakeFillers] OFF
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryId], [Name], [Description], [Tag], [IsDeleted], [PageURL], [SortNumber]) VALUES (1, N'COMBO', NULL, N'product', 0, N'product/combo', 0)
INSERT [dbo].[Categories] ([CategoryId], [Name], [Description], [Tag], [IsDeleted], [PageURL], [SortNumber]) VALUES (2, N'Sashimi', NULL, N'product', 0, N'product/Sashimi', 0)
INSERT [dbo].[Categories] ([CategoryId], [Name], [Description], [Tag], [IsDeleted], [PageURL], [SortNumber]) VALUES (3, N'Maki', NULL, N'product', 0, N'product/maki', 0)
SET IDENTITY_INSERT [dbo].[Categories] OFF
SET IDENTITY_INSERT [dbo].[Menus] ON 

INSERT [dbo].[Menus] ([MenuId], [ParentId], [Text], [Link], [Tag], [Order], [IsDeleted]) VALUES (1, 0, N'Home', N'/home', N'Top', 10, 0)
INSERT [dbo].[Menus] ([MenuId], [ParentId], [Text], [Link], [Tag], [Order], [IsDeleted]) VALUES (2, 0, N'Blogs', N'/c/blogs', N'Top', 7, 0)
INSERT [dbo].[Menus] ([MenuId], [ParentId], [Text], [Link], [Tag], [Order], [IsDeleted]) VALUES (3, 0, N'Who We Are', N'/a/cau-chuyen-nori', N'Top', 8, 0)
SET IDENTITY_INSERT [dbo].[Menus] OFF
SET IDENTITY_INSERT [dbo].[OrderDetails] ON 

INSERT [dbo].[OrderDetails] ([OrderDetailId], [OrderId], [ProductId], [Quantity], [UnitPrice]) VALUES (5, 8, 2, 4, CAST(100000.00 AS Decimal(18, 2)))
INSERT [dbo].[OrderDetails] ([OrderDetailId], [OrderId], [ProductId], [Quantity], [UnitPrice]) VALUES (6, 8, 1, 2, CAST(72000.00 AS Decimal(18, 2)))
INSERT [dbo].[OrderDetails] ([OrderDetailId], [OrderId], [ProductId], [Quantity], [UnitPrice]) VALUES (7, 8, 3, 1, CAST(120000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[OrderDetails] OFF
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderId], [Username], [FirstName], [LastName], [FullName], [Address], [City], [State], [PostalCode], [Country], [Phone], [Email], [Total], [Note], [PaymentType], [OrderDate]) VALUES (7, N'00000000-0000-0000-0000-000000000000', NULL, NULL, N'le van xuan', N'sai gon ', NULL, NULL, NULL, NULL, N'0876222', N'levanxuan@gmail.com', CAST(0.00 AS Decimal(18, 2)), N'gh chu', CAST(0.00 AS Decimal(18, 2)), CAST(0x0000A6FF00ECBE71 AS DateTime))
INSERT [dbo].[Orders] ([OrderId], [Username], [FirstName], [LastName], [FullName], [Address], [City], [State], [PostalCode], [Country], [Phone], [Email], [Total], [Note], [PaymentType], [OrderDate]) VALUES (8, N'00000000-0000-0000-0000-000000000000', NULL, NULL, N'hovaten', N'dichi', NULL, NULL, NULL, NULL, N'0987656778', N'levanxuan@gmail.com', CAST(0.00 AS Decimal(18, 2)), N'ghi chu thoi', CAST(0.00 AS Decimal(18, 2)), CAST(0x0000A6FF00EDC86D AS DateTime))
INSERT [dbo].[Orders] ([OrderId], [Username], [FirstName], [LastName], [FullName], [Address], [City], [State], [PostalCode], [Country], [Phone], [Email], [Total], [Note], [PaymentType], [OrderDate]) VALUES (9, N'00000000-0000-0000-0000-000000000000', NULL, NULL, N'test', N'abc', NULL, NULL, NULL, NULL, N'088', N'long@gmail.com', CAST(0.00 AS Decimal(18, 2)), N'dsf', CAST(0.00 AS Decimal(18, 2)), CAST(0x0000A6FF00F35925 AS DateTime))
SET IDENTITY_INSERT [dbo].[Orders] OFF
SET IDENTITY_INSERT [dbo].[Products] ON 

SET IDENTITY_INSERT [dbo].[Products] OFF
SET IDENTITY_INSERT [dbo].[QuickLinks] ON 

INSERT [dbo].[QuickLinks] ([QuickLinkId], [Link], [Filename], [Title], [Order], [Tag], [Description], [IsDeleted]) VALUES (1, N'/product', N'fa fa-shopping-cart fa-4x', N'Khuyen mai', 0, N'Top', N'Thong tin khuyen mai va giam gia', 0)
INSERT [dbo].[QuickLinks] ([QuickLinkId], [Link], [Filename], [Title], [Order], [Tag], [Description], [IsDeleted]) VALUES (2, N'/c/blogs', N'fa fa-credit-card fa-4x', N'The thanh vien', 0, N'Top', N'Quyen loi khi ban la thanh vien cua chuoi cua hang Nori', 0)
INSERT [dbo].[QuickLinks] ([QuickLinkId], [Link], [Filename], [Title], [Order], [Tag], [Description], [IsDeleted]) VALUES (3, N'/c/about', N'fa fa-calendar fa-4x', N'Tin tuc', 0, N'Top', N'Tin tuc', 0)
SET IDENTITY_INSERT [dbo].[QuickLinks] OFF
SET IDENTITY_INSERT [dbo].[UserProfiles] ON 

INSERT [dbo].[UserProfiles] ([UserId], [UserName], [Email], [Password], [ConfirmPassword], [IsAdmin]) VALUES (1, N'admin', N'ngminhy@gmail.com', N'MTIz', N'MTIz', 1)
INSERT [dbo].[UserProfiles] ([UserId], [UserName], [Email], [Password], [ConfirmPassword], [IsAdmin]) VALUES (2, N'xuanlv', N'levanxuan@gmail.com', N'MTIzNDU2Nw==', NULL, 0)
SET IDENTITY_INSERT [dbo].[UserProfiles] OFF
/****** Object:  Index [IX_CategoryId]    Script Date: 1/18/2017 11:38:30 PM ******/
CREATE NONCLUSTERED INDEX [IX_CategoryId] ON [dbo].[Articles]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductId]    Script Date: 1/18/2017 11:38:30 PM ******/
CREATE NONCLUSTERED INDEX [IX_ProductId] ON [dbo].[Carts]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderId]    Script Date: 1/18/2017 11:38:30 PM ******/
CREATE NONCLUSTERED INDEX [IX_OrderId] ON [dbo].[OrderDetails]
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductId]    Script Date: 1/18/2017 11:38:30 PM ******/
CREATE NONCLUSTERED INDEX [IX_ProductId] ON [dbo].[OrderDetails]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductId]    Script Date: 1/18/2017 11:38:30 PM ******/
CREATE NONCLUSTERED INDEX [IX_ProductId] ON [dbo].[Pictures]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Brand_CategoryId]    Script Date: 1/18/2017 11:38:30 PM ******/
CREATE NONCLUSTERED INDEX [IX_Brand_CategoryId] ON [dbo].[Products]
(
	[Brand_CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Category_CategoryId]    Script Date: 1/18/2017 11:38:30 PM ******/
CREATE NONCLUSTERED INDEX [IX_Category_CategoryId] ON [dbo].[Products]
(
	[Category_CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Country_CategoryId]    Script Date: 1/18/2017 11:38:30 PM ******/
CREATE NONCLUSTERED INDEX [IX_Country_CategoryId] ON [dbo].[Products]
(
	[Country_CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Material_CategoryId]    Script Date: 1/18/2017 11:38:30 PM ******/
CREATE NONCLUSTERED INDEX [IX_Material_CategoryId] ON [dbo].[Products]
(
	[Material_CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CakeFiller] ADD  CONSTRAINT [DF_CakeFiller_Price]  DEFAULT ((0)) FOR [Price]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [MaxFiller]
GO
ALTER TABLE [dbo].[Articles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Articles_dbo.Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([CategoryId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Articles] CHECK CONSTRAINT [FK_dbo.Articles_dbo.Categories_CategoryId]
GO
ALTER TABLE [dbo].[Carts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Carts_dbo.Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Carts] CHECK CONSTRAINT [FK_dbo.Carts_dbo.Products_ProductId]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderDetails_dbo.Orders_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([OrderId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_dbo.OrderDetails_dbo.Orders_OrderId]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderDetails_dbo.Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_dbo.OrderDetails_dbo.Products_ProductId]
GO
ALTER TABLE [dbo].[Pictures]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Pictures_dbo.Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Pictures] CHECK CONSTRAINT [FK_dbo.Pictures_dbo.Products_ProductId]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Products_dbo.Categories_Brand_CategoryId] FOREIGN KEY([Brand_CategoryId])
REFERENCES [dbo].[Categories] ([CategoryId])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_dbo.Products_dbo.Categories_Brand_CategoryId]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Products_dbo.Categories_Category_CategoryId] FOREIGN KEY([Category_CategoryId])
REFERENCES [dbo].[Categories] ([CategoryId])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_dbo.Products_dbo.Categories_Category_CategoryId]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Products_dbo.Categories_Country_CategoryId] FOREIGN KEY([Country_CategoryId])
REFERENCES [dbo].[Categories] ([CategoryId])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_dbo.Products_dbo.Categories_Country_CategoryId]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Products_dbo.Categories_Material_CategoryId] FOREIGN KEY([Material_CategoryId])
REFERENCES [dbo].[Categories] ([CategoryId])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_dbo.Products_dbo.Categories_Material_CategoryId]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Categories"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 135
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Products"
            Begin Extent = 
               Top = 34
               Left = 434
               Bottom = 264
               Right = 634
            End
            DisplayFlags = 280
            TopColumn = 15
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ProductView'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ProductView'
GO
USE [master]
GO
