@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_LayoutNori.cshtml";
}
<section class="well-md">
    <div class="container">
        <h1>Thanh toán</h1>
        <div class="row offset-6 flow-offset-1">
			<form name="checkout" action="/">
				<div class="col-md-6">
					<div class="billing-fields">
						<p class="form-row">
							<label><input type="radio" name="shipping-type" checked> Giao hàng tận nơi (Miễn phí với đơn hàng > 200K)</label>
						</p>
						<p class="form-row">
							<label><input type="radio" name="shipping-type"> Mua mang về (Nhận hàng tại cửa hàng)</label>
						</p>
                      	<p class="form-row">
                            <label>Họ và tên <span class="required">*</span></label>
                            <input type="text" class="input-text"/>
                        </p>
		                <p class="form-row">
		                    <label>Email <span class="required">*</span></label>
		                    <input type="email" class="input-text" required>
		                </p>
		                <p class="form-row">
		                    <label>Số điện thoại <span class="required">*</span></label>
		                    <input type="text" class="input-text" required>
		                </p>
		                <p class="form-row">
		                    <label>Địa chỉ <span class="required">*</span></label>
		                    <input type="text" class="input-text" required>
		                </p>
		                <p class="form-row">
		                    <label>Phường</label>
		                    <input type="text" class="input-text">
		                </p>
		                <p class="form-row">
		                    <label>Quận</label>
		                    <select class="select-box">
		                        <option>Quận 1</option>
		                        <option>Quận 2</option>
		                        <option>Quận 3</option>
		                        <option>Quận 4</option>
		                        <option>Quận 5</option>
		                        <option>Quận 6</option>
		                        <option>Quận 7</option>
		                        <option>Quận 8</option>
		                        <option>Quận 9</option>
		                        <option>Quận 10</option>
		                        <option>Quận 11</option>
		                        <option>Quận 12</option>
		                        <option>Quận Thủ Đức</option>
		                        <option>Quận Gò Vấp</option>
		                        <option>Quận Bình Thạnh</option>
		                        <option>Quận Tân Bình</option>
		                        <option>Quận Tân Phú</option>
		                        <option>Quận Phú Nhuận</option>                  
		                        <option>Quận Bình Tân</option>
		                        <option>Huyện Củ Chi</option>
		                        <option>Huyện Hóc Môn</option>
		                        <option>Huyện Bình Chánh</option>
		                        <option>Huyện Nhà Bè</option>
		                        <option>Huyện Cần Giờ</option>
		                    </select>
		                </p>
		                <p class="form-row">
		                    <label>Thành phố</label>
		                    <input type="text" class="input-text" value="Hồ Chí Minh">
		                </p>
		                <p class="form-row">
		                    <label>Cửa hàng Nori</label>
		                    <select class="select-box">
		                        <option>186 Phan Xích Long, phường 2, Quận Phú Nhuận</option>
		                        <option>39 Tống Hữu Định, Phường Thảo Điền, Quận 2</option>
		                        <option>93 Hồ Tùng Mậu, phường Bến Nghé, Quận 1</option>
		                        <option>341 Nguyễn Tri Phương, Phường 5, Quận 10</option>
		                        <option>33 Grand View B, Nguyễn Đức Cảnh, P. Tân Phong, Quận 7</option>
		                    </select>
		                </p>
		                <p class="form-row">
		                    <label>Ghi chú</label>
		                    <textarea class="note" rows="4" ></textarea>
		                </p>
		                <p class="form-row">
		                	<label><input type="checkbox"> Tôi chấp nhận <a href="/a/dieu-khoan-mua-hang">các điều khoản mua hàng</a></label>
		                </p>
					</div>
				</div>
				<div class="col-md-6 order-box">
					<h3>Đơn hàng của bạn</h3>
					<div class="table-responsive">
		                <table class="checkout-review">
		                    <thead>
		                        <tr>
		                            <th><h5>Sản phẩm</h5></th>
		                            <th><h5>Thành tiền</h5></th>
		                        </tr>
		                    </thead>
		                    <tbody id="tbody-cart"></tbody>
		                    <tfoot>
	                            <tr class="total">
	                                <th><h5>Tổng cộng</h5></th>
	                                <td><h5 class="amount">0 VNĐ</h5></td>
	                            </tr>
		                    </tfoot>
		                </table>
		            </div>
	            	<div class="checkout-payment">
                        <input id="payment_method_cash" type="radio" class="input-radio" name="payment_method" value="1"  checked='checked' />
                        <label>Thanh toán tiền mặt</label>
	                </div>
		            <div class="buttons-cart">
		                <button class="btn btn-primary btn-sm">Thanh toán</button>
		            </div>
				</div>
			</form>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(function () {
        $('.cd-cart-container').addClass('empty');
        initCheckout();
    });
	function initCheckout(){
        var $cartBody = $('#tbody-cart');
        var totalprice = 0;
        var $totalPrice = $('.total').find('.amount');
        $cartBody.html("");
        lstProduct = [];
        if(localStorage.length != 0) {
	        Object.keys(localStorage).forEach(function (key) {
                var itemlocal = JSON.parse(localStorage.getItem(key));
                lstProduct.push(itemlocal);
                var total = 0;
                total = itemlocal.price * itemlocal.count;
                totalprice += total
                var sprice = numeral(itemlocal.price).format('0,0');
                var stotal = numeral(total).format('0,0');
                var productHTML = '<tr>'+
                					'<td>'+itemlocal.name+' <strong>x '+itemlocal.count+'</strong></td>'+
                					'<td>'+stotal+' VNĐ</td>'+
                				'</tr>';
               	$cartBody.append(productHTML);
	        })
	    }
        var stotalprice = numeral(totalprice).format('0,0');
        $totalPrice.html(stotalprice + 'VNĐ');
	}
</script>