@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_LayoutNori.cshtml";
}
<section class="well-md">
    <div class="container">
        <h1>Thanh toán</h1>
        <div class="row offset-6 flow-offset-1">
			<form id="orderform" method="post" action="/shoppingcart" name="checkout">
				<div class="col-md-6">
					<div class="billing-fields">
						<p class="form-row">
							<label><input type="radio" value="0" class="shipping-type" name="shipping-type" checked> Giao hàng tận nơi (Miễn phí với đơn hàng > 200K)</label>
						</p>
						<p class="form-row">
							<label><input type="radio" value="1" class="shipping-type" name="shipping-type"> Mua mang về (Nhận hàng tại cửa hàng)</label>
						</p>
                      	<p class="form-row">
                            <label>Họ và tên <span class="required">*</span></label>
                            <input type="text" class="input-text" id="name" name="name" required/>
                        </p>
		                <p class="form-row">
		                    <label>Email <span class="required">*</span></label>
		                    <input type="email" class="input-text" name="email" required>
		                </p>
		                <p class="form-row">
		                    <label>Số điện thoại <span class="required">*</span></label>
		                    <input type="text" class="input-text" name="phone" required>
		                </p>
		                <p class="form-row">
		                    <label>Địa chỉ <span class="required">*</span></label>
		                    <input type="text" class="input-text" name="address" required>
		                </p>
		                <p class="form-row">
		                    <label>Phường</label>
		                    <input type="text" class="input-text" name="ward">
		                </p>
		                <p class="form-row">
		                    <label>Quận</label>
		                    <select class="select-box" name="dist">
		                        <option>Quận 1</option>
		                        <option>Quận 2</option>
		                        <option>Quận 3</option>
		                        <option>Quận 4</option>
		                        <option>Quận 5</option>
		                        <option>Quận 6</option>
		                        <option>Quận 7</option>
		                        <option>Quận 8</option>
		                        <option>Quận 9</option>
		                        <option>Quận 10</option>
		                        <option>Quận 11</option>
		                        <option>Quận 12</option>
		                        <option>Quận Thủ Đức</option>
		                        <option>Quận Gò Vấp</option>
		                        <option>Quận Bình Thạnh</option>
		                        <option>Quận Tân Bình</option>
		                        <option>Quận Tân Phú</option>
		                        <option>Quận Phú Nhuận</option>                  
		                        <option>Quận Bình Tân</option>
		                        <option>Huyện Củ Chi</option>
		                        <option>Huyện Hóc Môn</option>
		                        <option>Huyện Bình Chánh</option>
		                        <option>Huyện Nhà Bè</option>
		                        <option>Huyện Cần Giờ</option>
		                    </select>
		                </p>
		                <p class="form-row">
		                    <label>Thành phố</label>
		                    <input type="text" class="input-text" name="city" value="Hồ Chí Minh">
		                </p>
		                <p class="form-row">
		                    <label>Cửa hàng Nori</label>
		                    <select class="select-box" name="BranchName">
                                @foreach (var item in ViewBag.data)
                                {
                                    <option value="@item.Address">@item.Address</option>
                                }
		                    </select>
		                </p>
		                <p class="form-row">
		                    <label>Ghi chú</label>
		                    <textarea class="note" rows="4" name="note"></textarea>
		                </p>
		                <p class="form-row">
		                	<label><input type="checkbox"> Tôi chấp nhận <a href="/a/dieu-khoan-mua-hang">các điều khoản mua hàng</a></label>
		                </p>
					</div>
				</div>
				<div class="col-md-6 order-box">
					<h3>Đơn hàng của bạn</h3>
					<div class="table-responsive">
		                <table class="checkout-review">
		                    <thead>
		                        <tr>
		                            <th><h5>Sản phẩm</h5></th>
		                            <th><h5>Thành tiền</h5></th>
		                        </tr>
		                    </thead>
		                    <tbody id="tbody-cart"></tbody>
                            <tfoot>
                                <tr class="order-estimate-total">
                                    <th>
                                        <h5>Tổng cộng</h5>
                                    </th>
                                    <td>
                                        <h5 class="amount">0 VNĐ</h5>
                                    </td>
                                </tr>
                                <tr class="discount">
                                    <th>
                                        <h5>Mã giảm giá</h5>
                                    </th>
                                    <td>
                                        <h5 class="discount-code"></h5>
                                    </td>
                                </tr>  
                                <tr class="saving">
                                    <th>
                                        <h5>Tiết kiệm</h5>
                                    </th>
                                    <td>
                                        <h5 class="amount">0 VNĐ</h5>
                                    </td>
                                </tr>
                                <tr class="shipping-fee">
                                    <th>
                                        <h5>Phí giao hàng</h5>
                                    </th>
                                    <td>
                                        <h5 class="amount">0 VNĐ</h5>
                                    </td>
                                </tr>
                                <tr class="order-total">
                                    <th>
                                        <h5>Tổng tiền</h5>
                                        <span>(Tổng số tiền thanh toán)</span>
                                    </th>
                                    <td>
                                        <h5 class="amount">0 VNĐ</h5>
                                    </td>
                                </tr> 
                            </tfoot>
		                </table>
		            </div>
	            	<div class="checkout-payment">
                        <input id="payment_method_cash" type="radio" class="input-radio" name="payment_method" value="1"  checked='checked' />
                        <label>Thanh toán tiền mặt</label>
	                </div>
		            <div class="buttons-cart">
		                <button class="btn btn-primary btn-sm">Thanh toán</button>
		            </div>
                    <div class="alert alert-success" style="display:none" id="success-alert">
                        <strong>Thông báo! </strong>
                        <span id="alert-content"></span>
                    </div>
				</div>
			</form>
        </div>
    </div>
</section>
<script type="text/javascript">
    var lstProduct = [];

    $(function () {
        $('.cd-cart-container').addClass('empty');

        initCheckout();
    });
	function initCheckout(){
        var $cartBody = $('#tbody-cart');
        var $totalprice = $('.order-total').find('.amount');
        var $estimatetotal = $('.order-estimate-total');
        var $disount = $('.discount');
        var $disountCode = $('.discount-code');
        var $saving = $('.saving');
        var $shippingfee = $('.shipping-fee');
        var isdiscount = true;
        var shippingtype = $('.shipping-type:checked').val();
        var discountCode = localStorage.getItem("code");
        var discountValue = localStorage.getItem("codeValue");
        var totalprice = 0;
        $cartBody.html("");
        if(localStorage.length != 0) {
	        Object.keys(localStorage).forEach(function (key) {
                var productHTML = '';
                if(key != 'codeValue' && key != 'code') {
                    var itemlocal = JSON.parse(localStorage.getItem(key));
                    lstProduct.push(itemlocal);
                    var total = 0;
                    total = itemlocal.price * itemlocal.count;
                    totalprice += total
                    var sprice = numeral(itemlocal.price).format('0,0');
                    var stotal = numeral(total).format('0,0');
                    productHTML = '<tr>'+
                                        '<td>'+itemlocal.name+' <strong>x '+itemlocal.count+'</strong></td>'+
                                        '<td>'+stotal+' VNĐ</td>'+
                                    '</tr>';
                }
               	$cartBody.append(productHTML);
	        })
	    }

        $disountCode.html(discountCode);
        var stotalprice = numeral(totalprice).format('0,0');
        var savingprice = totalprice * discountValue / 100;
        var discounttotalprice = numeral(totalprice - savingprice).format('0,0');
        $estimatetotal.find('.amount').html(stotalprice + 'VNĐ');
        $saving.find('.amount').html('-'+numeral(savingprice).format('0,0')+' VNĐ');
        $totalprice.html(discounttotalprice+' VNĐ');

        if(!discountCode && !discountValue) {
            isdiscount = false
            $estimatetotal.addClass('hidden');
            $disount.addClass('hidden');
            $saving.addClass('hidden');
        }
        $('.shipping-type').click(function(){
            shippingtype = $(this).val();
            shipping(shippingtype, isdiscount, totalprice, savingprice, stotalprice, $shippingfee, $totalprice, $estimatetotal);
        });
        shipping(shippingtype, isdiscount, totalprice, savingprice, stotalprice, $shippingfee, $totalprice, $estimatetotal);
	}

    function shipping(shippingtype, isdiscount, totalprice, savingprice, stotalprice, $shippingfee, $totalprice, $estimatetotal) {
        var shippingfee = 0;
        if(shippingtype == 1 || totalprice > 200000) {
            $shippingfee.addClass('hidden');
            if(!isdiscount) {
                $estimatetotal.addClass('hidden');
            }
        } else {
            shippingfee = 20000;
            $shippingfee.removeClass('hidden');
            $estimatetotal.removeClass('hidden');
        }
        $estimatetotal.find('.amount').html(stotalprice + 'VNĐ');
        $shippingfee.find('.amount').html(numeral(shippingfee).format('0,0') + ' VNĐ');
        discounttotalprice = numeral(totalprice + shippingfee - savingprice).format('0,0');
        $totalprice.html(discounttotalprice+' VNĐ');

    }

</script>

<script>
    function showAlert(content){
        $("#success-alert").alert();
        $('#alert-content').text(content);
        $("#success-alert").fadeTo(10000, 500).slideUp(800, function(){
            $("#success-alert").slideUp(800);
        });   
    }

    function SaveOrder(){
        var form = $("#orderform");
        var carryout = $("input[name=shipping-type]:checked").val();
        var infoOrder = {
            Name: $('input[name=name').val(),
            Email: $('input[name=email').val(),
            Address: $('input[name=address').val(),
            Phone: $('input[name=phone').val(),
            Note: $('textarea[name=note').val(),
            BranchName:  $('select[name=BranchName').val(),
            PaymentType: 1,
            DiscountCode: localStorage.getItem("code"),
            ShippingType: carryout
        };

        $.ajax({
            url:'/shoppingcart',
            type:"POST",
            data: JSON.stringify({ info: infoOrder,cart:lstProduct }),
            contentType:"application/json; charset=utf-8",
            dataType:"json",
            success: function(data){
                if (data.id != "") {
                    localStorage.clear();
                    alert('Đặt hàng thành công. Xin cảm ơn!');
                    location.href = '/';
                }
                }
        });
    }

    $( "#orderform" ).submit(function( event ) {
       
        var carryout = $("input[name=shipping-type]:checked").val();
        var address = $('input[name=address').val();
        var ward = $('input[name=ward').val();
        var dist = $('select[name=dist').val();
        var city = $('input[name=city').val();
        var longaddress = address + " "+ward+" "+dist+" "+city;

        var url = 'http://maps.google.com/maps/api/geocode/json?address='+longaddress;
        var myLatlng=null;
        if(carryout === "0"){
            event.preventDefault();
            $.ajax({
                url: url,
                type: 'GET',
                async: false,
                success : function(res) {

                    if(res.status =='OK'){
                        var latlng = res.results[0].geometry.location;
                        myLatlng = new google.maps.LatLng(latlng.lat,latlng.lng);
                        var check =false;
                        for(var i =0;i<arrPolyObj.length;i++){
                            if(arrPolyObj[i].Contains(myLatlng) ){
                                check=true;
                                break;
                            }else
                            {
                                check=false;
                            }
                        }
                        if(!check){
                            alert('Hiện tại Nori Express chưa hỗ trợ giao hàng tại địa điểm này. Xin quý khách chọn điểm giao hàng khác hoặc nhận thức ăn tại nhà hàng của Nori Express.');

                            event.preventDefault();

                        }else{
                            //submit order
                            SaveOrder();
                        }
                    }else{
                        alert('Hiện tại Nori Express chưa hỗ trợ giao hàng tại địa điểm này. Xin quý khách chọn điểm giao hàng khác hoặc nhận thức ăn tại nhà hàng của Nori Express.');
                        event.preventDefault();
                    }
                }});

        }
        else{
            event.preventDefault();
            //submit order
            SaveOrder();
        }

    });

    var carryout = true;

    function showAlert(content){
        $("#success-alert").alert();
        $('#alert-content').text(content);
        $("#success-alert").fadeTo(10000, 500).slideUp(800, function(){
            $("#success-alert").slideUp(800);
        });
    }


    var arrPolyObj;
    var myLatlng;
    var map;

    function initMap(){
        var listpoly = @Html.Raw(Json.Encode(@ViewBag.polyobj));

        google.maps.Polygon.prototype.Contains = function (point) {
            // ray casting alogrithm http://rosettacode.org/wiki/Ray-casting_algorithm
            var crossings = 0,
        path = this.getPath();

            // for each edge
            for (var i = 0; i < path.getLength() ; i++) {
                var a = path.getAt(i),
            j = i + 1;
                if (j >= path.getLength()) {
                    j = 0;
                }
                var b = path.getAt(j);
                if (rayCrossesSegment(point, a, b)) {
                    crossings++;
                }
            }

            // odd number of crossings?
            return (crossings % 2 == 1);

            function rayCrossesSegment(point, a, b) {
                var px = point.lng(),
                py = point.lat(),
                ax = a.lng(),
                ay = a.lat(),
                bx = b.lng(),
                by = b.lat();
                if (ay > by) {
                    ax = b.lng();
                    ay = b.lat();
                    bx = a.lng();
                    by = a.lat();
                }
                if (py == ay || py == by) py += 0.00000001;
                if ((py > by || py < ay) || (px > Math.max(ax, bx))) return false;
                if (px < Math.min(ax, bx)) return true;

                var red = (ax != bx) ? ((by - ay) / (bx - ax)) : Infinity;
                var blue = (ax != px) ? ((py - ay) / (px - ax)) : Infinity;
                return (blue >= red);
            }
        };

         arrPolyObj = [];
        for(var i =0;i<listpoly.length;i++){
            var arrFeatures = JSON.parse( listpoly[i].Polyobj).features;
            for(var j=0;j<arrFeatures.length;j++){
                var listCoordinates = arrFeatures[j].geometry.coordinates[0];
                var points =[];
                for(var k =0;k<listCoordinates.length;k++){
                    points.push(new google.maps.LatLng(listCoordinates[k][1],listCoordinates[k][0]));
                }

                var poly = new google.maps.Polygon({
                    path: points
                });
                poly.setMap(map)
                arrPolyObj.push(poly);
            }
        }

    }


</script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQ0pDRDKSyAO4lm10ttEXa2_uoZmWQzHc&v=3.exp&callback=initMap"></script>