@model Biz4CMS.Models.Order

@{
    ViewBag.Title = "Complete";
    Layout = "~/Views/Shared/_LayoutNori.cshtml";
    var orderid = ViewContext.RouteData.Values["id"];
}
<section class="main-content">
    <div class="container">
        <div class="row" style="position: relative;">
            <div class="col-md-8">
                <h2>Đặt hàng thành công</h2>
                <p>Mã đơn hàng: @orderid</p>
                <p>Chúng tôi sẽ liên hệ với bạn trong thời gian sớm nhất có thể. Xin chân thành cảm ơn</p>
            </div>
            @{Html.RenderAction("RightBox", "Home");}
        </div>
    </div>
</section>