@{
    ViewBag.Title = "Shopping Cart";
    Layout = "~/Views/Shared/_LayoutNori.cshtml";
}
<section class="well-md">
    <div class="container">
        <h1>Giỏ hàng của bạn</h1>
        <div class="offset-6">
            <div class="table-responsive">
                <table class="overview-cart">
                    <thead>
                        <tr>
                            <th class="product-thumbnail">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                            <th class="product-name">Sản phẩm</th>
                            <th class="product-price">Đơn giá</th>
                            <th class="product-quantity">Số lượng</th>
                            <th class="product-subtotal">Thành tiền</th>
                            <th class="product-remove"></th>
                        </tr>
                    </thead>
                    <tbody id="tbody-cart"></tbody>
                    <tfoot>
                        <tr class="cart-total">
                            <td colspan="4">
                                <h5>Tổng cộng</h5>
                            </td>
                            <td class="order-total" colspan="2">
                                <h5 class="amount">0 VNĐ</h5>
                            </td>
                        </tr>                        
                    </tfoot>
                </table>
            </div>
            <div class="buttons-cart">
                <a class="btn btn-primary btn-sm" href="/product">Tiếp tục mua hàng</a>
                <a class="btn btn-primary btn-sm"  href="/ShoppingCart/Checkout">Thanh toán</a>
            </div>
        </div>
    </div>
</section>
<script>
    $(function () {
        $('.cd-cart-container').addClass('empty');
        initCheckoutCart();
    });
    function initCheckoutCart(){
        var $cartBody = $('#tbody-cart');
        var $totalPrice = $('.order-total').find('.amount');
        var totalprice = 0;
        var stotalprice = 0;
        $cartBody.html("");
        if(localStorage.length != 0) {
            Object.keys(localStorage).forEach(function (key) {
                var itemlocal = JSON.parse(localStorage.getItem(key))
                var total = 0;
                total = itemlocal.price * itemlocal.count;
                totalprice += total
                var sprice = numeral(itemlocal.price).format('0,0');
                var stotal = numeral(total).format('0,0');
                var productHTML = '<tr>'+
                        '<td class="product-thumbnail">'+
                            '<img src="'+itemlocal.img.replace('~', '') +'" alt="" class="product-img-thumbnail">'+
                        '</td>'+
                        '<td class="product-name">'+
                            '<h5><a href="">'+itemlocal.name+'</a></h5>'+
                        '</td>'+
                        '<td class="product-price">'+
                            '<h5>'+sprice+' VNĐ</h5>'+
                        '</td>'+
                        '<td class="product-quantity">'+
                            '<input type="number" value="'+itemlocal.count+'" class="input-qty input-item-'+key+'" size="4" min="1">'+
                        '</td>'+
                        '<td class="product-subtotal">'+
                            '<h5>'+stotal+' VNĐ</h5>'+
                        '</td>'+
                        '<td class="product-remove">'+
                            '<a class="remove" title="Xoá sản phẩm" onclick="removeProduct(\'' + key +'\');"><i class="fa fa-times"></i></a>'+
                        '</td>'+
                    '</tr>';
                $cartBody.append(productHTML);
                $('.product-quantity').find('.input-item-' + key).focusout(function () {
                    var qty = $(this).val();
                    var cdefault = isNaN(parseInt(qty)) == true ? 1 : parseInt(qty);
                    var itemlocal = JSON.parse(localStorage.getItem(key))
                    itemlocal.count = cdefault;
                    localStorage.setItem(key, JSON.stringify(itemlocal));
                    initCheckoutCart();
                })
            })
        }
        var stotalprice = numeral(totalprice).format('0,0');
        $totalPrice.html(stotalprice+' VNĐ');
    }
    function removeProduct(key) {
        var isRemove = confirm("Bạn có chắc không mua sản phẩm này?");
        if (isRemove) {
            localStorage.removeItem(key);
            initCheckoutCart();
        }
    }
</script>