@{
    ViewBag.Title = "Shopping Cart";
    Layout = "~/Views/Shared/_LayoutNori.cshtml";
}
<section class="well-md">
    <div class="container">
        <h1>Giỏ hàng của bạn</h1>
        <div class="offset-6">
            <div class="table-responsive">
                <table class="overview-cart">
                    <thead>
                        <tr>
                            <th class="product-thumbnail">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                            <th class="product-name">Sản phẩm</th>
                            <th class="product-price">Đơn giá</th>
                            <th class="product-quantity">Số lượng</th>
                            <th class="product-subtotal">Thành tiền</th>
                            <th class="product-remove"></th>
                        </tr>
                    </thead>
                    <tbody id="tbody-cart"></tbody>
                    <tfoot>
                        <tr class="order-estimate-total">
                            <th colspan="4">
                                <h5>Tổng cộng</h5>
                            </th>
                            <td colspan="2">
                                <h5 class="amount">0 VNĐ</h5>
                            </td>
                        </tr>
                        <tr class="discount">
                            <th colspan="4">
                                <h5>Mã giảm giá</h5>
                            </th>
                            <td colspan="2">
                                <input type="text" class="input-text discount-code"/>
                            </td>
                        </tr>  
                        <tr class="saving">
                            <th colspan="4">
                                <h5>Tiết kiệm</h5>
                            </th>
                            <td colspan="2">
                                <h5 class="amount">0 VNĐ</h5>
                            </td>
                        </tr>
                        <tr class="order-total">
                            <th colspan="4">
                                <h5>Tổng tiền</h5>
                                <span>(Tổng số tiền thanh toán)</span>
                            </th>
                            <td colspan="2">
                                <h5 class="amount">0 VNĐ</h5>
                            </td>
                        </tr> 
                    </tfoot>
                </table>
            </div>
            <div class="buttons-cart">
                <a class="btn btn-primary btn-sm" href="/product">Tiếp tục mua hàng</a>
                <a class="btn btn-primary btn-sm"  href="/ShoppingCart/Checkout">Thanh toán</a>
            </div>
        </div>
    </div>
</section>
<script>
    $(function () {
        $('.cd-cart-container').addClass('empty');
        initCheckoutCart();
    });
    function initCheckoutCart(){
        var $cartBody = $('#tbody-cart');
        var $totalprice = $('.order-total').find('.amount');
    	var $estimatetotal = $('.order-estimate-total');
    	var $disountCode = $('.discount-code');
    	var $saving = $('.saving');
        var totalprice = 0;
        var stotalprice = 0;
        $cartBody.html("");
    	$estimatetotal.addClass('hidden');
    	$saving.addClass('hidden');
        if(localStorage.length != 0) {
        	var discountCode = localStorage.getItem("code");
	        var discountValue = localStorage.getItem("codeValue");
            if(discountCode && discountValue) {
		    	$estimatetotal.removeClass('hidden');
		    	$saving.removeClass('hidden');
                if(localStorage.length == 2) {
                    localStorage.clear();
                    location.href = "/home";
                }
            }
            Object.keys(localStorage).forEach(function (key) {
            	if(key != 'codeValue' && key != 'code') {
	                var itemlocal = JSON.parse(localStorage.getItem(key))
	                var total = 0;
	                total = itemlocal.price * itemlocal.count;
	                totalprice += total
	                var sprice = numeral(itemlocal.price).format('0,0');
	                var stotal = numeral(total).format('0,0');
	                var productHTML = '<tr>'+
	                        '<td class="product-thumbnail">'+
	                            '<img src="'+itemlocal.img.replace('~', '') +'" alt="" class="product-img-thumbnail">'+
	                        '</td>'+
	                        '<td class="product-name">'+
	                            '<h5><a href="">'+itemlocal.name+'</a></h5>'+
	                        '</td>'+
	                        '<td class="product-price">'+
	                            '<h5>'+sprice+' VNĐ</h5>'+
	                        '</td>'+
	                        '<td class="product-quantity">'+
	                            '<input type="number" value="'+itemlocal.count+'" class="input-qty input-item-'+key+'" size="4" min="1">'+
	                        '</td>'+
	                        '<td class="product-subtotal">'+
	                            '<h5>'+stotal+' VNĐ</h5>'+
	                        '</td>'+
	                        '<td class="product-remove">'+
	                            '<a class="remove" title="Xoá sản phẩm" onclick="removeProduct(\'' + key +'\');"><i class="fa fa-times"></i></a>'+
	                        '</td>'+
	                    '</tr>';
	                $cartBody.append(productHTML);
	                var stotalprice = numeral(totalprice).format('0,0');
	                $totalprice.html(stotalprice+' VNĐ');
		            if(discountCode && discountValue) {
				    	$disountCode.val(discountCode);
				    	var savingprice = totalprice * discountValue / 100;
				    	var discounttotalprice = numeral(totalprice - savingprice).format('0,0');
				    	$estimatetotal.find('.amount').html(stotalprice+' VNĐ');
				    	$saving.find('.amount').html('-'+numeral(savingprice).format('0,0')+' VNĐ');
				    	$totalprice.html(discounttotalprice+' VNĐ');
		            }
	                $('.product-quantity').find('.input-item-' + key).focusout(function () {
	                    var qty = $(this).val();
	                    var cdefault = isNaN(parseInt(qty)) == true ? 1 : parseInt(qty);
	                    var itemlocal = JSON.parse(localStorage.getItem(key))
	                    itemlocal.count = cdefault;
	                    localStorage.setItem(key, JSON.stringify(itemlocal));
	                    initCheckoutCart();
	                })
            	}
            })
        }       
        $disountCode.focusout(function(){
            var disountCode = $(this).val();
            $.get("/ShoppingCart/getPromotionByCode/?code=" + disountCode, function (objDiscount) {
                var isDiscount = objDiscount.isDiscount;
                var valueDiscount = objDiscount.value;
                var stotalprice = numeral(totalprice).format('0,0');
                var savingprice = totalprice * valueDiscount / 100;
                var discounttotalprice = numeral(totalprice - savingprice).format('0,0');
                if (isDiscount) {
                    $estimatetotal.removeClass('hidden');
                    $saving.removeClass('hidden');
                    $estimatetotal.find('.amount').html(stotalprice + ' VNĐ');
                    $saving.find('.amount').html('-' + numeral(savingprice).format('0,0') + ' VNĐ');
                    $totalprice.html(discounttotalprice + ' VNĐ');
                    localStorage.setItem('codeValue', valueDiscount);
                    localStorage.setItem('code', disountCode);
                } else {
                    $estimatetotal.addClass('hidden');
                    $saving.addClass('hidden');
                    localStorage.removeItem('codeValue');
                    localStorage.removeItem('code');
                    $totalprice.html(stotalprice + ' VNĐ');
                }
            });
        });
        if(localStorage.length == 0) location.href = "/home";
    }

    function removeProduct(key) {
        var isRemove = confirm("Bạn có chắc không mua sản phẩm này?");
        if (isRemove) {
            localStorage.removeItem(key);
            initCheckoutCart();
        }
    }
</script>